/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {
    withLabel: '!no_publish' {
       publishDir = [
           path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
           mode: params.publish_dir_mode,
           saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
       ]
    }
}

// BOWTIE2 options -
process {
	 // see: https://bowtie-bio.sourceforge.net/bowtie2/manual.shtml
	 // for more info on bowtie2 options
    withName: 'BOWTIE2_ALIGN' {
        ext.args   = [
					 "--local",
					 "--no-unal",
            ].join(' ').trim()
    }
}

process {
  withLabel: "no_publish_output" {
    publishDir = []
  }
}

process {
  withName: "SAVE_OUTPUT_FILE" {
     publishDir = [
         path: { "${params.outdir}" },
         mode: params.publish_dir_mode,
         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
     ]
  }
}



